flows.json
[
    {
        "id": "91f3c68d9b35446b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89792aa57e3f750a",
        "type": "aedes broker",
        "z": "91f3c68d9b35446b",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6ba46a332f03def5",
        "type": "mqtt in",
        "z": "91f3c68d9b35446b",
        "name": "",
        "topic": "from-esp8266",
        "qos": "2",
        "datatype": "auto",
        "broker": "70fa3fbf4cc3b0d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "b1cdde78e6055f5d",
                "52fccb6122c0e163",
                "595cf2c8119f0ce4",
                "a0178f4033422fac"
            ]
        ]
    },
    {
        "id": "8bd65033d9ade4c2",
        "type": "mqtt out",
        "z": "91f3c68d9b35446b",
        "name": "",
        "topic": "to-esp8266",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70fa3fbf4cc3b0d4",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1cdde78e6055f5d",
        "type": "ui_text",
        "z": "91f3c68d9b35446b",
        "group": "affaf00e66ab9ab6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "bcac15cb5c652485",
        "type": "ui_text_input",
        "z": "91f3c68d9b35446b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "affaf00e66ab9ab6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "8bd65033d9ade4c2"
            ]
        ]
    },
    {
        "id": "36157e60601341d7",
        "type": "inject",
        "z": "91f3c68d9b35446b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "8bd65033d9ade4c2"
            ]
        ]
    },
    {
        "id": "52fccb6122c0e163",
        "type": "debug",
        "z": "91f3c68d9b35446b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "595cf2c8119f0ce4",
        "type": "ui_gauge",
        "z": "91f3c68d9b35446b",
        "name": "",
        "group": "affaf00e66ab9ab6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3210",
        "colors": [
            "#a91e76",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0178f4033422fac",
        "type": "ui_chart",
        "z": "91f3c68d9b35446b",
        "name": "",
        "group": "affaf00e66ab9ab6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "polar-area",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3210",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#a05f27",
            "#2ca02c",
            "#98df8a",
            "#2d9211",
            "#ae1b19",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "70fa3fbf4cc3b0d4",
        "type": "mqtt-broker",
        "name": "server local",
        "broker": "192.168.1.6",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "affaf00e66ab9ab6",
        "type": "ui_group",
        "name": "Default",
        "tab": "5f399da82e10a91b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f399da82e10a91b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
